@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 168px;

  width: 1600px;
  left: 0px;
  top: 0px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*padding: 32px 0px 0px;*/
  gap: 32px;

  width: 1376px;
  height: 124px;
  border-bottom: 1px solid #d9dbdd;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  height: 60px;
  width: 1376px;
  background: #ffffff;
}

.logo {
  width: 174px;
  height: 60px;
}

.name__logo {
  position: absolute;
  position: static;

  left: 15.87%;
  right: 1.65%;
  top: 29.14%;
  bottom: 22.49%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 90px;
  width: 1138px;
  height: 36px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 470px;
  height: 36px;
  justify-content: space-between;

  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.font {

  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.menu button {
  background-color: white;
  border: none;
  font-size: 16px;

  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.telephon {

  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 370px;
  height: 19px;
}

.tel-number {
  width: 185px;
  height: 19px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.enter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 88px;
  height: 32px;
}

.icon {
  width: 32px;
  height: 32px;
}

.enter-sign {
  width: 32px;
  height: 32px;
}

.news-and-cases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1376px;
  height: 790px;
}

.news-and-cases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1376px;
  height: 790px;
}

.heading-block__news-and-cases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1376px;
  height: 206px;
}

.text-header {
  width: 1376px;
  height: 78px;

  font-style: normal;
  font-weight: 700;
  font-size: 65px !important;
  line-height: 120%;
  text-align: center;
}

.main-content__news-and-cases {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 104px;

  width: 1376px;
  height: 584px;
}

.left-half {
  width: 672px;
  height: 584px;
  border-radius: 32px;
  background-image: url("Rectangle\ 1445left-half.png");
  position: relative;
}

.right-half {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 672px;
  height: 584px;
  gap: 30px;
}

.huawei {
  width: 672px;
  height: 276px;
  border-radius: 32px;
  background: no-repeat;
  background-image: url("Rectangle\ 1445.png");
  padding-left: 50px;
  padding-bottom: 70px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.text__huawei {
  color: white;
  font-family: "Rubik", sans-serif !important;

  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  position: absolute;
  top: 100px;
}
.text__left-half {
  color: white;
  font-family: "Rubik", sans-serif !important;

  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  position: absolute;
  top: 300px;
  left: 40px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 672px;
  height: 276px;
  margin-top: -70px;
}
.text__bottom{
  position: absolute;
  height: 93px;
  left: 64px;
  right: 64px;
  bottom: 65px;
  
  /* Web/h4 */
  
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #ffffff;
}

.left-bottom {
  width: 320px !important;
  height: 276px;
  background: no-repeat;
  background-image: url("Rectangle\ 1445left-bottom.png");
  position: relative;
  
}

.right-bottom {
  width: 320px;
  height: 276px;
  background: no-repeat;
  background-image: url("Rectangle\ 1445right-bottom.png");
  position: relative;
  border-radius: 32px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 104px;

  width: 1376px;
  height: 1069px;
}

.wrapper__news {
  width: 1376px;
  height: 863px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.image-slider {
  padding: 30px 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-slider__slide {
  display: flex;
  flex-direction: row;
}

.image-slider__slide {
  height: 700px !important;
  padding-top: 40px;
  border-bottom: 1px solid #d9dbdd;
  border-radius: 32px 32px 32px 0px;
}

.image-slider__slide img {
  max-width: 100%;
}

.swiper-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
  margin-top: 40px;
  width: 300px;
  height: 30px;
}

.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
  text-align: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

button~.swiper-button-prev,
.swiper-button-next {
  background-color: white;
}

.swiper-pagination-fraction {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: center;
  padding-top: 5px;
  width: 75px !important;
  height: 30px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
}

.text-to-photo {
  height: 155px;

  /* Web/h4 */


  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  width: 320px;
}

.cases {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 104px;

  width: 1376px;
  height: 1004px;
}

.wrapper__cases {

  position: relative;
  width: 1376px;
  height: 698px;
}

.swiper-buttons2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  width: 300px;
  height: 30px;

 
}

.diagnostics {
  width: 1376px;
  height: 226px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: url(i.webp);
  border-radius: 32px;
}

.buttons__diagnostics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 64px;
  gap: 32px;
  width: 593px;
  height: 80px;
}

.call {
  background-color: transparent;
  width: 289px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.call:hover {
  background-color: white;
  color: black;
  transition: all 1s;
}

.whrite {
  background-color: white;
  width: 289px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.whrite:hover {
  background-color: transparent;
  color: white;
  transition: all 1s;
}

.text-buttons {
  width: 144px;
  height: 26px;


  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.adresses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  width: 1376px;
  height: 925px;
  border: 1px solid pink;
}

.text-adresses {
  width: 1376px;
  height: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

.heading {
  width: 844px;
  height: 78px;
  margin-top: 15px;
  /* Web/h2 */


  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 120%;
}

.all-adresses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 40px;

  width: 1365px;
  height: 18px;
  margin-top: -20px;
}

.enumeration__all-adresses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 380px;
  height: 18px;

  text-decoration: none;
}

.font__adresses {
  border-bottom: 2px dashed #151e27;
  color: black;


  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.location {
  width: 1376px;
  height: 650px;
  left: 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.map {
  width: 1024px;
  height: 650px;
}

.support {
  width: 352px;
  height: 650px;
}

.adress__location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 320px;
  height: 475px;
}

.city {
  width: 100px;
  height: 31px;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  color: #151e27;
}

.communication__location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 248px;
  height: 310px;
}

.street {
  width: 298px;
  height: 62px;


  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #151e27;
}

pre {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 210px;
  height: 24px;
}

.logo__container {
  width: 24px;
  height: 24px;
}

.text__container {
  width: 153px;
  height: 22px;

  /* Web/текст 3 */

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.buttons__support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 320px;
  height: 128px;
}

.request-for-repairs,
.call__support {
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 320px;
  height: 56px;

  /* черный */

  background: #151e27;
  border-radius: 30px;
  color: #ffffff;


  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 113px;
  width: 100%;
  height: 721px;
  left: 0px;

  background: #151e27;

  margin-top: 192px;
}

.other-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1376px;
  height: 306px;
}

.adress__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  width: 320px;
  height: 273px;
}

.log {
  width: 232px;
  height: 80px;
}

.adr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 17px;

  width: 320px;
  height: 129px;
}

.font__adr {

  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #ffffff;
}

.font__list {

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
}

.list-about-company {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 11px 0px 0px;
  gap: 60px;
  color: white;

  width: 1019px;
  height: 306px;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47px;

  width: 156px;
  height: 295px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47px;

  width: 175px;
  height: 295px;
}

.information__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47px;

  width: 265px;
  height: 295px;
}

.useful {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47px;

  width: 216px;
  height: 295px;
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: -10px;
  gap: 0px;

  width: 148px;
  height: 217px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 22px */
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 1376px;
  height: 32px;
  background-color: #151E27;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 320px;
  height: 32px;
}

.icon__icons {
  width: 32px;
  height: 32px;
  border: 1px solid pink;

}

.tel-number__footer {
  width: 320px;
  height: 31px;
}

.font__tel-number {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #D9DBDD;
  text-decoration: none;
}

.email {
  width: 245px;
  height: 31px;
}

.text__contacts {
  width: 320px;
  height: 21px;

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #D9DBDD;
}

.pay-way {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 1024px;
  height: 32px;

}

.card {
  width: 50px;
  height: 32px;
  overflow: hidden;
}

.logo__card {
  width: 50px;
  height: 32px;
}

.card-PayKeeper {
  width: 103px;
  height: 32px;
  overflow: hidden;
}

.logo__card-PayKeeper {
  width: 103px;
  height: 32px;
}